<div class="jumbotron jumbotron-custom">
    <div class="container jumbotron-bg-img">
        <div class="row">
            <div class="col-sm-8 col-sm-push-4">
                <h1>CoGa
                    <small>odborná literatúra</small>
                </h1>
                <p>Zaoberáme sa predajom a poradenstvom v oblasti odbornej literatúry zo všetkých vedných oblastí a v
                    našej ponuke nechýbajú tituly pre študentov a učiteľov všetkých stupňov štúdia. </p>

                <!--<p><a class="btn btn-primary btn-lg">Learn more</a></p>-->
            </div>
            <div class="col-sm-4 col-sm-pull-8">
                <img class="jumbotron-anim hidden-xs img-responsive" src="img/jumbotron-img.png" alt="">
            </div>
        </div>
    </div>
</div>
<section class="featurette container">
    <div class="row">
        <div class="col-sm-4 world-wide-section">
            <img src="img/world.png" alt="140x140">

            <h2>Literatúra z celého sveta</h2>

            <p class="lead">Pre našich zákazníkov ponúkame možnosť zakúpenia literatúry zo: </p>
            <ul class="text-left">
                <li>Slovenska,</li>
                <li>Čiech,</li>
                <li>Maďarska,</li>
                <li>USA,</li>
                <li>Nemecka,</li>
                <li>Talianska,</li>
                <li>či Británie, a iné</li>
            </ul>
        </div>
        <!-- /.col-lg-4 -->
        <div class="col-sm-4 buy-delivery-section">
            <img src="img/shoping_cart.png" alt="140x140">

            <h2>Predaj a dodanie</h2>

            <p class="lead">Literatúru vo výhodnej cene dodáme priamo k vám domov, alebo do firmy/organizácie.</p>
            <ul class="text-left">
                <li>Kuriér Vám knihy dodá zdarma už pri nákupe nad 30 EUR a to do 2 dní, a to na dobierku.</li>
                <li>Platba na faktúru tiež možná.</li>
            </ul>

        </div>
        <!-- /.col-lg-4 -->
        <div class="col-sm-4 info-section">
            <img src="img/help.png" alt="140x140">

            <h2>Poradenstvo</h2>

            <p class="lead">Našou snahou je poskytnúť aj poradenstvo a správny výber literatúry pre konkrétne predmety,
                alebo oblasti záujmu.</p>

            <p>Máte otázku alebo záujem?</p>

            <p>
                <button ng-click="go('/kontakt')" class="btn btn-info btn-lg"><span
                        class="glyphicon glyphicon-info-sign"></span> Kontaktujte nás
                </button>
            </p>

        </div>
        <!-- /.col-lg-4 -->
    </div>
</section>